<!DOCTYPE html>
<html lang="en">

<head>
  <title>messages</title>

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />

  <!-- Boot strap and font awesome -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

  <script src="/socket.io/socket.io.js"></script>
  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/messages.js"></script>
</head>

<body>
  <h1>Start A New Conversation</h1>
  <div id="message-container">
    <form id="message-form">
      <label for="item">Item Id</label>
      <input type="text" id="item-id">
      <label for="message-input">Enter Your Message</label>
      <input type="text" id="message-input">
      <label for="seller">Seller</label>
      <input type="text" id="seller-id">
      <button type="submit" id="send-button">Send</button>
    </form>
  </div>

  <div class="chat-interface">
      <h1 class="display-5 fw-bold text-white text-center">Chat History</h1>
      <div class="col-lg-6 mx-auto">
        <div id="chat-container">
          <!-- Chat Messages Go Here-->
          <% if (messages) { %>
            <% for (let i = 0; i < messages.length; i++) { %>
                <p><%= messages[i].content %></p>
            <% } %>
        <% } %>
        </div>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
          <form>
            <input type="text" id="response-message">
            <button type="button" id="reply-button">Reply</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
</body>

</html>
