<!DOCTYPE html>
<html lang="en">

<head>
  <title>messages</title>

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />

  <script src="/socket.io/socket.io.js"></script>
  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/messages.js"></script>
</head>

<body>
  <h1>Heres all your messages</h1>
  <div id="message-container">
    <form id="message-form">
      <label for="item">Item Id</label>
      <input type="text" id="item-id">
      <label for="message-input">Enter Your Message</label>
      <input type="text" id="message-input">
      <label for="seller">Seller</label>
      <input type="text" id="seller-id">
      <button type="submit" id="send-button">Send</button>
    </form>
  </div>
  <div id="all-messages">
    <% if (messages) { %>
        <% for (let i = 0; i < messages.length; i++) { %>
            <p><%= messages[i].content %></p>
        <% } %>
    <% } %>
  </div>
  <div id="chat-container">

  </div>
</body>

</html>
