.jumbotron {
  background-size: cover;
  background-position: center;
  padding-top: 100px;
  padding-bottom: 100px;
  height: 500px;
  background-color: rgba(128, 128, 128, 0.638);
  background-image: url('/images/site-images/favouritesSplash.png');
}

.shoe-img {
  width: 100%;
}

.featured-items-container {
  background-color: #f7f7f7; /* Light grey background */
  border: 1px solid #d3d3d3; /* Light grey border */
  padding: 20px; /* Add some space inside the border */
  margin: 20px 0; /* Add some space outside the border */
  text-align: center; /* Center align the text */
}

.featured-items-container .row {
  margin: 0 auto; /* Center align the rows */
  display: flex; /* Use flexbox for alignment */
  justify-content: center; /* Center content horizontally */
}

.featured-items-container .col-md-3 {
  margin: 10px; /* Space between columns */
}


