
.shoe-img {
  width: 100%;
}

.featured-items-container {
  background-color: #f7f7f7;
  border: 1px solid #d3d3d3;
  padding: 20px;
  margin: 20px 0;
  text-align: center;
}

.featured-items-container .row {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.featured-items-container .col-md-3 {
  margin: 10px;
}


