body {
  form {
    border: 2px solid #000;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    background-color: rgba(128, 128, 128, 0.638);
    font-family: 'Abril Fatface', serif;
    font-family: 'Roboto Serif', serif;
  }
}

.jumbotron {
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  padding-top: 100px;
  padding-bottom: 100px;
  height: 400px;
  background-color: rgba(128, 128, 128, 0.638);
  //background-image: url('/images/site-images/promoSellingBanner.png');
  margin-top: 20px;
  background-image: url('/images/site-images/Superkit.png');
}

.jumbotron.form-jumbotron {
  background-size: cover;
  background-position: center;
  z-index: 1;
  background-image: linear-gradient( 135deg, #81FFEF 10%, #F067B4 100%);
}

.btn {
  background-color: #fff;
  color: #000;
  padding: 5px 10px;
  margin: 5px;
  border-radius: 4px;
  font-family: 'Abril Fatface', serif;
  font-family: 'Roboto Serif', serif;

  &:hover, &:focus {
    color: #000;
    background-color: #bb9b9b;
  }
}

.btn-lower {
  margin-top: 250px;
  font-family: 'Abril Fatface', serif;
  font-family: 'Roboto Serif', serif;
}

.sold-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('/images/site-images/sold.png') no-repeat center center;
  background-size: cover;
  display: none;
}

.image-container {
  position: relative;
}

.image-container {
    position: relative;
    display: inline-block;
}

.image-container img {
    width: 100%; /* Adjust as needed */
}

#soldText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 2em;
    display: none;
    z-index: 2;
}

.icon-button {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 3;
}

.jumbotron .centered-text {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black; /* Set the text color */
  font-size: 3.5em; /* Adjust the font size as needed */
  /* Add any additional styling you want for the text */
  font-weight: bold;
}