
body {
  font-family: 'Bungee', sans-serif;
  font-family: 'Nunito', sans-serif;
  font-family: 'Source Sans 3', sans-serif;
  background-image: url('/images/site-images/background1.png');
}

h1.fw-bold.text-center {
  background-image: url('/images/site-images/chatHistory.png');
  background-size: cover;
  background-position: center;
  color: #FFFFFF;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  padding: 20px;
  height: 200px;
}

button {
  border-radius: 50%;
  border: 2px solid #fff;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

button:hover {
  background-color: #f0f0f0;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

button:active {
  transform: translateY(2px);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

#message-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 300px;
  margin: auto;
  font-family: 'Abril Fatface', serif;
  font-family: 'Roboto Serif', serif;
}

#message-form input[type="text"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#openModal {
  position: absolute;
  top: 84%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: auto; /* Adjust the width as needed */
  height: 15%; /* 25% of the jumbotron's height */
  padding: 10px 20px;
  font-size: 1.5em; /* Larger font size */
  background-color: #6694ae; /* Traditional blue color */
  color: white; /* White text */
  border: none;
  border-radius: 4px; /* Rounded corners */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Subtle shadow for depth */
  cursor: pointer; /* Changes cursor to pointer */
  transition: background-color 0.3s, box-shadow 0.3s; /* Smooth transition for hover effects */
}


#openModal:hover {
  background-color: #005383; /* Darker shade of blue on hover */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Larger shadow on hover */
}

#openModal:active {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Return to smaller shadow when clicked */
}

#send-button {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

#send-button:hover {
  background-color: #45a049;
}

#message-form input[type="text"]:focus {
  outline: none;
  border-color: #4CAF50;
}

input {
  border-radius: 20px;
}

.jumbotron {
  background-size: cover;
  background-position: center;
  padding-top: 100px;
  padding-bottom: 100px;
  height: 500px;
  background-color: rgba(128, 128, 128, 0.638);
  background-image: url('/images/site-images/messagesJumbotron.png');
  margin-bottom: 0px;
  position: relative;
}

.chat-interface {
  background-size: cover;
  background-position: center;
  padding: 20px;
}


.message-container {
  background-color: #ffffff;
  max-width: 80%;
  padding: 10px 10px 10px 10px;
  margin: 10px;
  margin-left: 50px;
  margin-top: 0px;
  max-width: 80%;
  border: 4px blanchedalmond;
  border-radius: 20px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  position: relative;
  font-family: 'Arial', sans-serif;
  font-size: 20px;
  line-height: 1.4;
  font-family: 'Abril Fatface', serif;
  font-family: 'Roboto Serif', serif;
}

.message-container.other-person {
  align-self: flex-start;
  background-color: #8eb1c5;
}

#response-message:hover {
  background-color: #2E2E2E;
  color: white;
}

#reply-button {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 20px;

footer {
  position: absolute;
  bottom: 0;
}
